<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Cars</title>
</head>
<body>
    <img src="/images/green-mustang-01.jpg" alt="green mustang">
    <img src="/images/green-mustang-03.jpg" alt="green mustang">
    <img src="/images/green-mustang-04.jpg" alt="green mustang">
    <img src="/images/green-mustang-05.jpg" alt="green mustang">
</body>
</html>