<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Cats</title>
</head>
<body>
    <img src="/images/black-cat-01.jpg" alt="black cat">
    <img src="/images/black-cat-02.jpg" alt="black cat">
    <img src="/images/black-cat-03.jpg" alt="black cat">
    <img src="/images/black-cat-04.jpg" alt="black cat">
</body>
</html>